---
import cloud from '../assets/clouds.jpeg'
import cloudMobile from '../assets/cloudsMobile.jpeg'
import '../styles/global.css'
---

<div class="w-full h-full pt-8 md:px-30 md:pt-10">
  <main
    class="flex flex-col w-full md:h-full h-[90%] md:justify-center gap-y-4"
  >
    <section class="flex flex-col md:flex-row md:pl-0 pl-6">
      <h1 class="font-bold text-5xl">Sea</h1>
      <div class="grow"></div>
      <div class="flex flex-col justify-end">
        <span class="">Nurture your sound.</span>
      </div>
    </section>
    <section class="md:flex-none">
      <img
        src={cloud.src}
        class="h-full object-cover md:rounded-lg w-full hidden md:block"
        alt="Responsive Image"
      />
      <img
        src={cloudMobile.src}
        class="w-full md:rounded-lg md:hidden"
        alt="Responsive Image"
      />
    </section>
    <section id="email" class="flex justify-center">
      <form id="contact-form" action="https://forms.gle/ied5rhCctmgQxsLV6">
        <button
          type="submit"
          class="cursor-pointer px-4 py-1 border border-blue-500 text-blue-500 rounded-md hover:bg-blue-100 active:bg-blue-200 transition"
        >
          Get early access
        </button>
      </form>
    </section>
  </main>
</div>
